@model Task<XKCD_Comic.Models.ComicModel>
@{ 
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <title>XKCD - Comic</title>
    <link href="@Url.Content("~/lib/bootstrap/dist/css/bootstrap.css")" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Comic XKCD App</a>
    </nav>
    <div class="container">
        <h3>@Model.Result.title</h3>
        <div>
            <figure class="figure">
                <img src="@Model.Result.img" class="figure-img img-fluid rounded" alt="@Model.Result.alt">
                <figcaption class="figure-caption">@Model.Result.alt</figcaption>
            </figure>
        </div>
        <div>
            <a asp-controller="Comic" asp-route-id="" class="btn btn-outline-primary m-2"> Previos</a>
        </div>
    </div>
    <script src="@Url.Content("~/lib/jquery/dist/jquery.js")"></script>
    <script src="@Url.Content("~/lib/bootstrap/dist/js/bootstrap.js")"></script>
</body>
</html>